.title-wrapper {
    justify-content: start;
    margin-bottom: 60px;
}

.title-wrapper p {
    align-self: start;
    font-size: 14px;
}

.title-wrapper h1 {
    font-size: 35px;
    color: #C50374;
}