.title-wrapper {
    top: 30vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 30px;
}

.title-wrapper p {
    align-self: start;
    font-size: 14px;
}

h1 {
    color: #C50374;
}