
.practice-link {
    position: absolute;
    background-color: var(--blue);
    padding: 10px;
    text-decoration: none;
    border-radius: 0.2em;
    color: var(--white);
    margin: 0px auto;
    bottom: 10px;
    width: fit-content;
}

span {
    scale: 120%;
}