.question-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 10% 0 10%;
}

.ongame-question {
    font-size: x-large;
    font-weight: bold;
    color: var(--blue);
}

.ongame-answer {
    font-size: medium;
}