.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60vw;

    background-color: var(--black);
    row-gap: 20px;
}

.form-textarea {
    display: flex;
    text-align: center;
    color: var(--white);
    resize: none;
    width: 90%;
    height: 50px;
    padding: 15px;
    border: 1px solid var(--white);
    border-radius: 0.2em;
    background-color: var(--black);
    transition: 0.3s;
}

.form-textarea:focus {
    outline: none;
    height: 100px;
    border: 3px solid var(--white);
    transition: 0.3s;
}

.add-button {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.2em;
    background-color: var(--blue);
    padding: 5px;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}
