.practice-btn {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    margin: 10px;
    transform-origin: left bottom;
    z-index: 1;
    background-color: var(--blue);
    border: none;
    border-radius: 50%;
    color: var(--white);
}
.practice-btn p {
    transform: translateX(-200px);
    transition: 0.3s;
}
.before {
    left: 0 !important;
}

.before span {
    transform: rotateY(180deg);
}