.flashcard-list-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    row-gap: 10px;
}

.flashcard-list-container h2 {
    margin: 0 auto;
}

.flashcard-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    border-top: 3px solid var(--blue);
    border-bottom: 3px solid var(--blue);
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 10px 0 10px;

    scrollbar-color: var(--blue) var(--black);
    scrollbar-width: thin;
}

.flashcard {
    width: 100%;
    height: fit-content;
    display: grid;
    align-items: center;
    grid-auto-flow: row;
    grid-template-columns: 0.2fr 80% 0.2fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid #333030;
    padding: 5px 0 5px 0;
}

.flashcard:last-child {
    border-bottom: none;
}

.flashcard span {
    color: rgb(197, 3, 116);
    scale: 120%;
    margin: 0px 5px 0px 5px;
}

.flashcard p {
    overflow-wrap: break-word;
}

.question {
    padding-left: 10px;
}

.answer-container {
    display: flex;
    align-items: center;
    width: 100%;
    grid-column: -3/-1;
    padding-left: 10px;
}

.answer {
    width: 90%;
    margin: 5px 0 5px 0;
    display: none;
    color: rgb(114, 114, 114);
    font-style: italic;
}

.no-flashcards {
    color:gray;
    font-size: 15px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.expanded {
    transform: rotate(180deg);
}

.a-expanded {
    display: block;
}